{
  "$schema": "./node_modules/oxfmt/configuration_schema.json",
  "ignorePatterns": [],
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "endOfLine": "lf"
}
